Class note from Nov 25

## data types: int, float, str, bool

In [7]:
print("Hello, World!")

Hello, World!

In [9]:
# data types:
type(1+1)

int

In [ ]:
10/3
10 // 3 # integer division (always rounding down)

3.0

In [ ]:
10 % 3 # modulus operator (gives remainder)

1

In [ ]:
10 ** 3 # exponentiation operator

1000

In [ ]:
print(type(5.5//2)) # this is float

type(10//3) # this is int

<class 'float'>

int

In [20]:
type(5.0//2)

float

In [21]:
50 > 10

True

In [22]:
20 == 21

False

In [ ]:
4 ** 1/2

2.0

In [24]:
4 ** (1/2)

2.0

## Variables:

In [ ]:
# variable can include letters, numbers, and underscores, but cannot start with a number, and they are case-sensitive
# also explore the mutability of variables.
degree_celsius = 32
degree_fahrenheit = degree_celsius * 9/5 + 32
degree_celsius = (degree_fahrenheit - 32) * 5/9
degree_fahrenheit

89.6

In [59]:
degree_celsius

32.0

In [60]:
degree_celsius = degree_celsius + 10

In [61]:
degree_celsius

42.0

In [67]:
degree_celsius = 0
degree_celsius += 10 # this is called augmented assignment
degree_celsius

10

In [68]:
degree_celsius -= 5
degree_celsius

5

In [ ]:
# explained different types of errors in python
# showed how to use comments in python
# readability counts!

## Functions

### Using a function:
function_name(parameter)

In [69]:
# functions takes input and produces output

In [ ]:
# here are some built in functions in python
print("This is a built-in function")
len("Hello")
type(42)
str(42) # this is type conversion
int("42") # this is type conversion
float(3) # this is type conversion
abs(-7)
round(3.6)
max(4, 7, 2, 9)
min(4, 7, 2, 9)
help(round) # this is how you get help on a function

This is a built-in function
Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
# you can also have nested functions. it's functions inside functions.
# it evaluates the innermost function first and then moves outward.
max(abs(-4), abs(-7), abs(3))

7

In [ ]:
# you can put arguements within functions as well
round(3.14159, 2)   # rounds to 2 decimal places

3.14

In [ ]:
# you can also define your own functions using def keyword
# function names are case-sensitive and follow the same rules as variable names
# parameters are the inputs to the function
# when we use a function, we call parameters arguements
#  A docstring (documentation string) is a special string in Python used to describe what a function, class, method, or module does.
def function_name(parameters):
    """docstring explaining the function"""
    # function body
    return "output"

In [1]:
def c_to_f(degree_celsius):
    """Convert Celsius to Fahrenheit"""
    degree_fahrenheit = degree_celsius * 9/5 + 32
    return degree_fahrenheit

In [3]:
# calling the function:
c_to_f(39)

102.2

In [8]:
def f_to_c(degree_fahrenheit):
    degree_celsius = (degree_fahrenheit - 32) * 5/9
    return degree_celsius

In [9]:
f_to_c(0)

-17.77777777777778

In [ ]:
# Nov 26 continue with functions:
def divide (dividend, divisor):
    result = dividend / divisor
    return result # some functions return none, which is like null or nothing

In [8]:
def divide_non (dividend, divisor):
    result = dividend / divisor
# and if you dont write return, the function will return None by default

In [ ]:
divide(2, 3)
divide_non(2, 3) # nothing will get returned with this function

In [10]:
divide(0, 2)

0.0

### setting a default value for function parameters:

In [2]:
# parameters and default value.
def cal_sales_tax(price, tax_rate = 0.13):
    """assuming using the default tax rate in ontario"""
    sales_tax = price * tax_rate
    return sales_tax

In [6]:
cal_sales_tax(100)
# cal_sales_tax(100, 1)

13.0

In [32]:
def calc_total_bill(price, tax_rate = 0.13, tip_rate = 0.15):
    # you can still comment here
    '''this is a docstring, if you add this, it'll show up when you use help() function'''
    tax = price * tax_rate
    tip = price * tip_rate
    total = price + tax + tip
    return total, tax, tip

In [11]:
calc_total_bill(200)

(256.0, 26.0, 30.0)

In [ ]:
calc_total_bill(100, 0.18) # overriding the 2nd value

(133.0, 18.0, 15.0)

In [23]:
calc_total_bill(100, tip_rate = 0.2) # overriding the 3rd value, you would need to specifically name it.
# as long as you name the parameter, you can skip parameters in between

(133.0, 13.0, 20.0)

In [25]:
calc_total_bill(100, tip_rate = 0.2, tax_rate = 0.8)

(200.0, 80.0, 20.0)

In [31]:
help(calc_total_bill)

Help on function calc_total_bill in module __main__:

calc_total_bill(price, tax_rate=0.13, tip_rate=0.15)
    this is a docstring, if you add this, it'll show up when you use help() function

In [25]:
def calc_total_bill(price, tax_rate=0.13, tip_rate="standard"):
    tip_presets = {
        "low": 0.10,
        "standard": 0.15,
        "high": 0.20
    }

    # only convert if it's one of the known presets
    if tip_rate in tip_presets:
        tip_rate = tip_presets[tip_rate]

    tax = price * tax_rate
    tip = price * tip_rate
    total = price + tax + tip
    return total, tax, tip

In [27]:
calc_total_bill(100, tip_rate="low")

(123.0, 13.0, 10.0)

### Global and local scope, parameters

In [ ]:
# local means you can only access the vairable inside the function but not outside
#

## Strings

In [1]:
"this is a string"
'strings can be wrapped in both signle and double quotes'

'this is a string'

In [4]:
"""" 
this
is a multi-line string
,sssds
many lines
is 
truly  
you'll see a bunch of \n
"""

'" \nthis\nis a multi-line string\n,sssds\nmany lines\nis \ntruly  \nyou\'ll see a bunch of \n\n'

| Escape sequence | Description        |
|-----------------|--------------------|
| \\'             | Single quote       |
| \\"             | Double quote       |
| \\\\            | Backslash          |
| \\t             | Tab                |
| \\n             | Newline            |
| \\r             | Carriage return    |

In [9]:
print("this is \t a tab")

this is 	 a tab

In [10]:
print("this is \n a new line")

this is
 a new line

In [11]:
print("this is a \\ backslash")

this is a \ backslash

In [12]:
print("this is a \r carriage return")

 carriage return

In [13]:
print("She said \"Hi\"")

She said "Hi"

In [15]:
"ha" * 10 # this is string repetition

'hahahahahahahahahaha'

In [16]:
"hello" + 2020 # this will give an error because you cannot concatenate str and int

TypeError: can only concatenate str (not "int") to str

In [18]:
'apple' == 'Apple' # case sensitive comparison

False

### string slicing:

In [19]:
first_name = "Ada"
last_name = "Lovelace"

In [22]:
first_name[1]

'd'

In [30]:
last_name[1:5] # the end does not include the 5th letter.

'ovel'

In [29]:
last_name[3:5]

'el'

In [31]:
last_name[:6]

'Lovela'

In [32]:
last_name[3:]
last_name[:] # this gives the whole string

'elace'

In [28]:
last_name[-1] # negative indexing starts from the end

'e'

In [33]:
last_name[-3:] # this gives the last three letters, from the 3rd last to the end.

'ace'

In [ ]:
last_name[-3:1] # this will give an empty string because the starting index is after the ending index

In [37]:
last_name[1:6:2] # this gives from index 1 to the second last letter, stepping by 2

''

In [38]:
last_name[1:6:-2] # this gives an empty string because the step is negative but the start index is before the end index

''

In [39]:
last_name[-1:-5:-1] # this gives from the last letter to the 5th last letter, stepping backwards

'ecal'

In [44]:
phone_number = "+1 123-456-7890"
area_code = phone_number[3:6]
area_code

'123'

### Using a method:
object.method_name(parameters)

The main difference is that a function can be used independently. Methods need an object (like a string i.e. “this string is unsual”). We will learn about objects later in the course. Upper is only defined on a string type object and cannot work without a string. When used, it can only perform some action on that particular string which calls it.

In [46]:
# method is a function that works only for specific data types
last_name.upper() # this method converts the string to uppercase
last_name.lower() # this method converts the string to lowercase
last_name.capitalize() # this method capitalizes the first letter of the string and makes the rest lowercase
last_name.count("a") # this method counts the number of occurrences of a substring in the

'LOVELACE'

In [47]:
"this is fun".upper()

'THIS IS FUN'

In [49]:
'file_name.xlsx'.endswith('.csv')

False

In [52]:
# .format() method for strings
'Ada Lovelace\'s initials are {}. {}.'.format(first_name[0], last_name[0])

"Ada Lovelace's initials are A. L."

In [54]:
'My favoriate day of the week is {}.'.format('Tuesday')
day_of_week = "monday"
'My favoriate day of the week is {}.'.format(day_of_week)

'My favoriate day of the week is monday.'

In [55]:
# f-strings (formatted string literals)
f"Ada Lovelace's initials are {first_name[0]}. {last_name[0]}."

"Ada Lovelace's initials are A. L."

### method can be combined

In [58]:
'first_name'.upper().replace("FIRST","last")

'last_NAME'

In [59]:
'first_name'.upper().count('F')

1

In [68]:
age = input("how old are you")
age

'1'

In [69]:
age

'1'

In [70]:
aged_now = int(age) + 1
aged_now

2

## logic operators

In [71]:
True and True

True

In [79]:
False and False

False

In [73]:
not True

False

In [74]:
7 == 7.0 and 32 > 9

True

In [75]:
('Python' == 'python') and True

False

In [80]:
is_winter = True
is_grey = True
is_winter and is_grey

True

In [81]:
# or: checks if at least one is True
False or True

True

In [82]:
True or False

True

In [85]:
1 or True
# if you dont use a boolen value, return the first truthy value encounter ot the last falsy value if all operands are false.

1

In [90]:
"Hello" or False
"True" or True
# python will intepreate an non-empty to be true.

'True'

In [91]:
# how would you use these logic operators?
# so far you code only runs linearly, but you can change how your code behaves thru conditions.

In [97]:
year = 1
if year >= 2000:
    print("You are in the 21st century")
else:
     print ("You are in the 20th century")

You are in the 20th century

In [99]:
year = 2024
output = 'No'

if year >= 2000 and output == 'yes':
    print("we in 21 centiury")

In [102]:
year = 2012
if year >= 2000:
    print('we in 21 century')
    diff = year + 2000 - year
    new_year = year + diff
else:
    print('we not in 20 century')

we in 21 century

In [8]:
# elif is short for else if

year = 2022
if year >= 2000:
    print('we in 21 century')
if year >= 1900:
    print('we in 20 century') 
if year >= 1800:
    print('we in 19 century')
else:
    print('we in the past')
# these elif statements are checked in order, so the first one that is true will be executed.

we in 21 century
we in 20 century
we in 19 century

In [3]:
def check_year(year):
    if year >= 2000:
        print('we in 21 century')
    elif year >= 1900:
        print('we in 20 century') 
    elif year >= 1800:
        print('we in 19 century')
    else:
        print('we in the past')

In [6]:
check_year(2122)

we in 21 century

In [109]:
def year_check(year):
    if year >= 2000:
        print("You are in the 21st century")
    else:
        chck_diff = 2000 - year
        new_year = year + chck_diff
        if new_year >= 2000:
            print(f"We bumpped you for {chck_diff}, and you are now in the 21st century")
        else:
            print ('cant even bump')

In [111]:
year_check(1)

We bumpped you for 1999, and you are now in the 21st century

In [2]:
day_of_week = "Thursday"

if day_of_week == "Saturday" or day_of_week == "Sunday":
    print('Weekend')
else:
    print("weekday")

weekday

In [9]:
def eye_exam_covered(age, qualifying_condition, time_since_last_exam):
    # assumptions:
    # age is int
    # qualifying_condition is bool, True if you have eligable condition, otherwise False
    # time_since_last_exam is int (in months)
    if age <= 19:
        if time_since_last_exam >= 12:
            return "You are eligable for one major eye exam and any minor assessments needed."
        else:
            return "It has not been 12 months since your last exam, /n but you can have a minior assessment if needed."
    elif 20 <= age <= 64:
        if qualifying_condition:
            if time_since_last_exam >= 12:
                return "you are eligable for 1 majot eye exam and 2 additional follow-up minor assessments."
            else:
                return "It has not been 12 months since your last exam, /n but you can have a minior assessment if needed."
        else:
            return "You do not have an sligable medical condition"
    elif age >= 65:
        if time_since_last_exam >= 12:
            return "You are eligable for one major eye exam and 2 follow up minor assessments needed."
        else:
            return "It has not been 12 months since your last exam, /n but you can have a minior assessment if needed."
    else:
        return "Invalid age input."

In [11]:
eye_exam_covered(23, False, 10)

'You do not have an sligable medical condition'

## List

In [13]:
empty_list = []
empty_list

[]

In [15]:
empty_list1 = list()
empty_list1

[]

In [ ]:
list_inside_list = [1, 2, 3, 
                    ['a', 'b', 'c']
                    ]
list_inside_list

[1, 2, 3, ['a', 'b', 'c']]

In [2]:
# list is a mutable, ordered collection of items, which can be of different data types.
# we can access the items inside the list
list_inside_list[0]  # first item

1

In [18]:
list_inside_list[3]  # fourth item, which is another list

['a', 'b', 'c']

In [21]:
# when you slicing, the end index is exclusive
list_inside_list[1:3]  # in here the thrid item is excluded.
# only 1st and 2nd items are included

[2, 3]

In [5]:
list_inside_list[0] = "4"  # fourth item, which is another list
list_inside_list

['4', 2, 3, ['a', 'b', 'c']]

In [6]:
list_inside_list[3][1]  # accessing the second item of the nested list

'b'

In [16]:
my_burger = "fish burger"
my_burger

'fish burger'

In [17]:
her_burger = my_burger
her_burger

'fish burger'

In [18]:
my_burger = "noodle burger"
my_burger

'noodle burger'

In [ ]:
her_burger # this is an example of how strings are immutable

'fish burger'

In [20]:
my_new_burger = ['bun', 'bun', 'bun']
my_new_burger

['bun', 'bun', 'bun']

In [21]:
her_new_burger = my_new_burger
her_new_burger

['bun', 'bun', 'bun']

In [22]:
my_new_burger[0] = 'lettuce'
my_new_burger

['lettuce', 'bun', 'bun']

In [ ]:
her_new_burger # this shows that lists are mutable.
# when you update an immutable object, the old is not change, its just a new object is created in memory, and the variable points to the new object.
# when you update a mutable object, the same object is modified in memory, and all variables pointing to that object will see the change.

['lettuce', 'bun', 'bun']

In [25]:
combo = ['bun', 'patty', 'lettuce', 'tomato', 'cheese']
kid_meal = list(combo)  # this creates a copy of the combo list

In [ ]:
combo[0] = 'whole wheat bun'
combo

In [ ]:
kid_meal # this remains unchanged because we created a copy of the combo list using list() function

['bun', 'patty', 'lettuce', 'tomato', 'cheese']

In [ ]:
# updating multiple items in the list
combo[0], combo[1] = 'gluten-free bun', 'veggie patty'
combo

['gluten-free bun', 'veggie patty', 'lettuce', 'tomato', 'cheese']